Repository dfultonthebar/dart-tournament-software: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, black --line-length 100, isort --profile black, flake8

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "*.py": [
    "black --line-length 100",
    "isort --profile black",
    "flake8"
  ]
}

Add Proxmox kernel headers fix scripts
  scripts/PROXMOX_HEADERS_FIX_README.md
  scripts/fix-proxmox-headers-aggressive.sh
  scripts/fix-proxmox-headers.sh
Due: prettier --write

Add NVIDIA driver management and LXC GPU passthrough scripts
  scripts/NVIDIA_LXC_PASSTHROUGH_README.md
  scripts/fix-nvidia-drivers.sh
  scripts/setup-nvidia-lxc-passthrough.sh
Due: prettier --write

Add NVIDIA kernel module loading error fix script
  scripts/NVIDIA_LXC_PASSTHROUGH_README.md
  scripts/fix-nvidia-kernel-module.sh
Due: prettier --write

Add comprehensive NVIDIA driver cleanup and reinstall script
  scripts/cleanup-nvidia-560-and-reinstall.sh
Due: none

Add script to unbind NVIDIA GPU from VM passthrough
  scripts/unbind-gpu-from-vm-passthrough.sh
Due: none

Upgrade all dependencies to latest compatible versions
  backend/requirements.txt
  display-terminal/package-lock.json
  display-terminal/package.json
  scoring-terminal/package-lock.json
  scoring-terminal/package.json
  scoring-terminal/src/app/admin/darts/page.tsx
Due: eslint --fix, prettier --write

Add co-ed Lucky Draw Doubles with gender support
  backend/api/auth.py
  backend/api/tournaments.py
  backend/models/player.py
  backend/models/tournament.py
  backend/schemas/auth.py
  backend/schemas/player.py
  backend/schemas/tournament.py
  scoring-terminal/src/app/admin/players/page.tsx
  scoring-terminal/src/app/admin/tournaments/[id]/lucky-draw/page.tsx
  scoring-terminal/src/app/admin/tournaments/new/page.tsx
  scoring-terminal/src/app/register/page.tsx
  shared/types/player.ts
  shared/types/tournament.ts
Due: eslint --fix, prettier --write, black --line-length 100, isort --profile black, flake8

Fix input validation to eliminate 500 errors on bad data
  backend/api/auth.py
  backend/api/matches.py
  backend/api/players.py
Due: black --line-length 100, isort --profile black, flake8

Scale stress test to 1000 players with heavy lucky draw co-ed tournaments
  hardcore_stress_test.py
Due: black --line-length 100, isort --profile black, flake8

Add double elimination bracket support with WB/LB/GF advancement
  backend/api/events.py
  backend/api/matches.py
  backend/api/players.py
  backend/api/tournaments.py
  display-terminal/src/app/brackets/[id]/page.tsx
  display-terminal/src/app/globals.css
  scoring-terminal/src/app/brackets/[id]/page.tsx
  scoring-terminal/src/app/matches/page.tsx
  test_double_elim.js
Due: eslint --fix, prettier --write, black --line-length 100, isort --profile black, flake8

Add 8 UI workflow improvements for faster tournament management
  scoring-terminal/src/app/admin/dartboards/page.tsx
  scoring-terminal/src/app/admin/darts/page.tsx
  scoring-terminal/src/app/admin/events/[id]/page.tsx
  scoring-terminal/src/app/admin/events/new/page.tsx
  scoring-terminal/src/app/admin/events/page.tsx
  scoring-terminal/src/app/admin/layout.tsx
  scoring-terminal/src/app/admin/players/page.tsx
  scoring-terminal/src/app/admin/tournaments/[id]/lucky-draw/page.tsx
  scoring-terminal/src/app/admin/tournaments/[id]/page.tsx
  scoring-terminal/src/app/admin/tournaments/new/page.tsx
  scoring-terminal/src/app/admin/tournaments/page.tsx
  scoring-terminal/src/app/matches/page.tsx
  scoring-terminal/src/app/player/page.tsx
  scoring-terminal/src/app/player/register/page.tsx
  scoring-terminal/src/app/player/tournaments/page.tsx
  scoring-terminal/src/app/register/page.tsx
  scoring-terminal/src/app/scoring/page.tsx
  scoring-terminal/src/components/AdminSidebar.tsx
  scoring-terminal/src/components/Breadcrumbs.tsx
  scoring-terminal/src/lib/websocket.ts
Due: eslint --fix, prettier --write

Fix 10 bugs from comprehensive codebase audit
  backend/api/dartboards.py
  backend/api/matches.py
  backend/core/config.py
  backend/main.py
  backend/models/match.py
  backend/websocket/handlers.py
  display-terminal/src/app/brackets/[id]/page.tsx
  display-terminal/src/components/RegistrationQRCode.tsx
  mobile-app/package.json
  package-lock.json
  scoring-terminal/src/app/admin/dartboards/page.tsx
  scoring-terminal/src/app/admin/events/[id]/page.tsx
  scoring-terminal/src/app/admin/events/new/page.tsx
  scoring-terminal/src/app/admin/events/page.tsx
  scoring-terminal/src/app/admin/login/page.tsx
  scoring-terminal/src/app/admin/players/page.tsx
  scoring-terminal/src/app/admin/tournaments/[id]/lucky-draw/page.tsx
  scoring-terminal/src/app/admin/tournaments/[id]/page.tsx
  scoring-terminal/src/app/admin/tournaments/new/page.tsx
  scoring-terminal/src/app/player/matches/page.tsx
  scoring-terminal/src/app/player/page.tsx
  scoring-terminal/src/app/player/tournaments/page.tsx
  scoring-terminal/src/app/register/page.tsx
  scoring-terminal/src/app/score/[matchId]/page.tsx
  scoring-terminal/src/app/scoring/page.tsx
  shared/lib/error-message.ts
Due: eslint --fix, prettier --write, black --line-length 100, isort --profile black, flake8

Fix QR code to point to scoring terminal and add WiFi notice
  display-terminal/src/app/globals.css
  display-terminal/src/components/RegistrationQRCode.tsx
Due: eslint --fix, prettier --write

Fix LAN registration, require gender, add production scripts
  CLAUDE.md
  backend/main.py
  scoring-terminal/src/app/register/page.tsx
  start-prod.sh
  stop-prod.sh
Due: eslint --fix, prettier --write, black --line-length 100, isort --profile black, flake8

Add real-time board assignment notifications to player phones
  backend/api/dartboards.py
  backend/main.py
  backend/websocket/__init__.py
  backend/websocket/handlers.py
  scoring-terminal/src/app/player/layout.tsx
  scoring-terminal/src/app/player/matches/page.tsx
  scoring-terminal/src/app/register/page.tsx
  scoring-terminal/src/components/MatchNotification.tsx
  scoring-terminal/src/lib/websocket.ts
  shared/types/websocket.ts
Due: eslint --fix, prettier --write, black --line-length 100, isort --profile black, flake8

Fix WebSocket reconnect race on disconnect/setPlayerId
  scoring-terminal/src/app/player/layout.tsx
  scoring-terminal/src/lib/websocket.ts
Due: eslint --fix, prettier --write

Use Web Audio API for notification chime and add redundant WS identity
  scoring-terminal/src/app/player/layout.tsx
  scoring-terminal/src/app/player/matches/page.tsx
Due: eslint --fix, prettier --write

Add two-step arrival flow: "On My Way" then "At the Board"
  backend/api/matches.py
  backend/main.py
  backend/models/match_player.py
  backend/schemas/match.py
  backend/websocket/connection.py
  scoring-terminal/src/app/player/matches/page.tsx
  scoring-terminal/src/components/MatchNotification.tsx
  shared/types/match.ts
Due: eslint --fix, prettier --write, black --line-length 100, isort --profile black, flake8

Update CLAUDE.md with board notification and two-step arrival docs
  CLAUDE.md
Due: prettier --write

Add detailed filesystem structure to CLAUDE.md
  CLAUDE.md
Due: prettier --write

Remove unused code, dependencies, and test artifacts
  .gitignore
  CLAUDE.md
  PR_DESCRIPTION.md
  SESSION_STATUS.md
  backend/core/__init__.py
  backend/core/database.py
  backend/requirements.txt
  backend/schemas/__init__.py
  backend/schemas/auth.py
  backend/schemas/game.py
  backend/schemas/match.py
  backend/schemas/player.py
  backend/services/__init__.py
  backend/services/bracket.py
  display-terminal/package.json
  hardcore_stress_test.py
  mobile-app/package.json
  mobile-app/src/lib/api.ts
  package-lock.json
  scoring-terminal/package.json
  scoring-terminal/src/lib/api.ts
  scoring-terminal/src/lib/config.ts
  shared/types/player.ts
  stress_test.py
  test-e2e-final.js
  test-e2e-improved.js
  test-e2e-manual.js
  test-final-screenshot.js
  test-payment-browser.js
  test_double_elim.js
  ui_live_test.js
  watch_stress_test.js
Due: eslint --fix, prettier --write, black --line-length 100, isort --profile black, flake8

Add systemd auto-start on boot for all services
  CLAUDE.md
  deployment/systemd/dart-backend.service
  deployment/systemd/dart-display.service
  deployment/systemd/dart-mobile.service
  start-prod.sh
  stop-prod.sh
Due: prettier --write

Auto-scale bracket to fit full screen on display terminal
  display-terminal/src/app/globals.css
  display-terminal/src/app/page.tsx
Due: eslint --fix, prettier --write

NCAA-style left/right/center bracket layout for display terminal
  backend/api/matches.py
  display-terminal/src/app/globals.css
  display-terminal/src/app/page.tsx
  scoring-terminal/tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write, black --line-length 100, isort --profile black, flake8

Auto-assign dartboards to ready matches on match completion
  backend/api/matches.py
Due: black --line-length 100, isort --profile black, flake8

Include dartboard_number and dartboard_name in match API responses
  backend/api/matches.py
  backend/schemas/match.py
  shared/types/match.ts
Due: eslint --fix, prettier --write, black --line-length 100, isort --profile black, flake8
